div{
    font-family: 'Nanum Gothic Coding', monospace;
}

.home{
    color: rgb(72, 72, 226);
    margin-left: 30px;
    width:50px;
}

.btn {
    margin-top: 0px;
}

#answer {
    box-sizing: border-box;
    border: 10px solid gray;
    margin: 30px;
    padding: 30px;
    margin-top: 83px;
    margin-bottom: 50px;
}


.container {
    display: grid;
    margin-top: 80px;
}

.header, .explain, .btn_space, .bottom {
    text-align: center;
}

.footer {
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 30px;

}


.explain {
    margin-top: 10px;
}

.result {
    text-align: center;
}

.form-group{
    margin-top: 10px;
}

.form-control{
    
    width: 400px;
    float: center;
}

.name2{
    margin-top: 50px;
}

.name3{
    text-align: center;
}

.addthis_inline_share_toolbox_rg28{
    text-align: center;
}

#mobonDivBanner_369934{
    padding-top: 10px;
    padding-left: 80px;
}