.btn {
    margin-top: 20px;
}

#answer {
    box-sizing: border-box;
    border: 10px solid gray;
    margin: 30px;
    padding: 30px;
}


.container {
    display: grid;
    margin-top: 100px;
}

.header, .explain, .btn_space, .bottom {
    text-align: center;
}

.bottom {
    margin-top: 10rem;

}

.explain {
    margin-top: 10px;
}

.result {
    text-align: center;
}